.listArea {
    width: 500px;
    margin: 0 auto;
}


input {
    margin-top: 10px;
    height: 30px;
    line-height: 30px;
    width: 180px;
    text-indent: 10px;
    width: 100%;
}

.list {
    margin-top: 10px;
   
}

.list li{
    width: 100%;
    border: 2px solid grey;
    border-radius: 15px;
    padding-inline: 8px;
    margin-bottom: 5px;

}

.list li span {
    display: block;

}

.list li span.phone{

    float: right;

}
.list li span.name{
    float: left;
}
.clearfix{
    clear: both;
}